@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    color: #222;
    font-family: 'Motserrat', sans-serif;
    font-weight: 300;
}

header .logo{
    font-weight: 12000px;
    font-size: 20px;
    display: inline;
}

header ul.nav li{
    display: inline;
    margin-left: 250px;
    cursor: pointer;
    transition: opacity 500ms ease;
}
